<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vox Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!-- Aqui ficará o código html da tela inicial do site -->

<!--Link temporário para a página de cadastro-->
<center><h5><strong><br/><a href="{% url 'login:NewConta' %}">Cadastre-se</a></strong></h5></center>

<!--Link temporário para a página de login-->
<center><h5><strong><br/><a href="{% url 'login:LoginConta' %}">Iniciar Sessão</a></strong></h5></center>
</body>
</html>