<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Conta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <!--Design temporário da página de cadastro-->
    {% load crispy_forms_tags %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/create_conta.css' %}" />

    <div class="container-fluid">
        <div class="col">
            <div class="col-md-3 col-md-offset-4">
                <div class="page-header">
                    <center><h2>Nova Conta</h2></center>
                </div>

                <form method="POST" class="newconta-form">{% csrf_token %}
                    <br/>{{ newconta|crispy }}
                    <center><button type="submit" class="btn btn-primary">Salvar</button></center><br/><br/>
                    <center><h5><strong><br/><a href="{% url 'login:LoginConta' %}">Já possui uma conta? Inicie sua sessão aqui!</a></strong></h5></center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>