<!DOCTYPE html>
<html lang="pt-br">

{% load staticfiles %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Crie sua Conta do Vox Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/conta.css' %}" />
</head>
<body>
    <!--Design temporário da página de cadastro-->

    <div class="container-fluid">
        <div class="col">
            <div class="col-md-4 col-md-offset-4">
                <div class="page-header">
                    <h3>Crie sua Conta do Vox Station</h3>
                </div>

                <form method="POST" class="newconta-form">{% csrf_token %}
                    <br/>{{ newconta|crispy }}

                    <!--Programar para que só seja possível finalizar o cadastro após marcar a checkbox-->
                    <input type="checkbox" value="termos"> Li e concordo com os <a href="#">termos de uso</a>.

                    <center><button class="btn btn-lg btn-primary btn-block" type="submit">Finalizar</button></center><br/><br/>
                    <center><h5><strong><br/><a href="{% url 'login:LoginConta' %}">Já possui uma conta? Inicie sua sessão aqui!</a></strong></h5></center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>